#muur { 
    height:300px;
    width:500px;
    background-color: #d9d9d9;
}

.rij { 
    display:flex;
}
.steen1 {
    background-color:orange ;
    width:100px;
    height:25px;
    display:inline-block;
    margin-right:3px;
    margin-bottom:5px;
}
.steen2 {
    background-color:orange ;
    width:100px;
    height:25px;
    display:inline-block;
    margin-right:3px;
    margin-bottom:5px;
}
.steen3 {
    background-color:orange ;
    width:100px;
    height:25px;
    display:inline-block;
    margin-right:3px;
    margin-bottom:5px;
}
.steen4 {
    background-color:orange ;
    width:100px;
    height:25px;
    display:inline-block;
    margin-right:3px;
    margin-bottom:5px;
}
.steen5 {
    background-color:orange ;
    width:70px;
    height:25px;
    display:inline-block;
    margin-bottom:5px;
}
.bye_bye_steen {
    background-color:#d9d9d9;
    width:100px;
    height:25px;
    display:inline-block;
    margin-bottom:5px;
}
